<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola</title>
</head>
<body>
    <h1>Correo de Prueba</h1>
    <br>
    <h5>Nombre de Camara: {{camara.nombre}}</h5>
    <h5>Metro Cuadrado : {{camara.m2}}</h5>
    <h5>Metro Cubico : {{camara.m3}}</h5>
    <h5>Valor Neto : {{camara.valorNeto}}</h5>
    <h5>Valor IVA : {{camara.valorIva}}</h5>
</body>
</html>