{% extends 'base.html' %}
{% load static %}
{% block titulo %}Inicio{% endblock %}

{% block container %}
<br><br>
<div class="col-12">
  <h4 class='text-center'>Listado de Camaras de Frio</h4>
</div>

<div class="d-grid gap-2 d-flex justify-content-end">
    <!-- <button type="button" class="btn btn-default"><i class="fa-solid fa-sort-down"></i></button>
    <button type="button" class="btn btn-default"><i class="fa-solid fa-sort-up"></i></button> -->
    <button type="button" class="btn btn-default" onclick="abrirModalAgregarCamara()"><i class="fa-regular fa-plus"></i></button>
</div>

<table class="table table-responsive table-bordered">
  <thead>
    <tr style="background-color: rgb(198, 198, 198); ">
      <th scope="col">N°</th>
      <th scope="col">Nombre</th>
      <th scope="col">M²</th>
      <th scope="col">M³</th>
      <th scope="col">Neto</th>
      <th scope="col">+IVA</th>
      <th scope="col">Botones</th>
    </tr>
  </thead>
  <tbody>
    {% for camara in camaras %}
    <tr style="font-size: 1.2vw;">
      <td>{{camara.correlativo}}</td>
      <td>{{camara.nombre}}</td>
      <td>{{camara.m2}}</td>
      <td>{{camara.m3}}</td>
      <td><i class="fa-solid fa-dollar-sign"></i> {{camara.valorNeto}}</td>
      <td><i class="fa-solid fa-dollar-sign"></i> {{camara.valorIva}}</td>
      <td id="{{camara.id}}" style="color: blue; text-decoration: underline blue; cursor: pointer;"
        onclick="abrirModalEnviarCorreo(this)" data-bs-toggle="modal" data-bs-target="#modalEnviarCorreo">Enviar </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modalEnviarCorreo" tabindex="-1" aria-labelledby="modalEnviarCorreoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEnviarCorreoLabel">Enviar Cotización</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="formEnviarCorreoCliente" method="POST" action="{% url 'envio-correo-cliente' %}" data-parsley-validate>
          {% csrf_token%}
          <input type="hidden" id="numero-camara" name="numero-camara">
          <div style="padding-left: 7px;" class="form-group row">
            <div class="form-check">
              <div class="col-sm-8">
                <input class="form-check-input" type="checkbox" value="" id="id-check-datos-cliente" name="check-datos-cliente" onchange="mostrarFormularioCliente()">
              </div>
              <label class="form-check-label" for="id-check-datos-cliente">
                Datos de Cliente
              </label>
            </div>
          </div>

          <div class="container-formulario-cliente" id="id-container-formulario-cliente" hidden>
            <div class="form-group row">
              <label for="id-nombre" class="col-sm-3 col-form-label">Nombre<span class="tx-danger">*</span></label>
              <div class="col-sm-9">
                  <input type="text" class="form-control" id='id-nombre' name='nombre'>
              </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="id-rut" class="col-sm-3 col-form-label">Rut<span class="tx-danger">*</span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id='id-rut' name='rut'>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="id-giro" class="col-sm-3 col-form-label">Giro Comercial<span class="tx-danger">*</span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id='id-giro' name='giro'>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="id-region" class="col-sm-3 col-form-label">Región<span class="tx-danger">*</span></label>
                <div class="col-sm-9 mg-0 pd-0">
                  <select class="form-select" id="id-region" name="region" onchange="buscarComunas(this)" required>
                      <option value="-1" selected>Seleccionar</option>
                      {% for region in regiones %}
                      <option value="{{region.id}}">{{region.nombre}}</option>
                      {% endfor %}
                  </select>
              </div>
            </div>
            <br>
            <div class="form-group row">
              <label for="id-comuna" class="col-sm-3 col-form-label">Comuna<span class="tx-danger">*</span></label>
              <div class="col-sm-9 mg-0 pd-0">
                <select class="form-select" id="id-comuna" name="comuna" disabled required>
                    <option value="-1" selected>Seleccionar</option>
                </select>
              </div>
          </div>
            <br>
            <div class="form-group row">
                <label for="id-direccion" class="col-sm-3 col-form-label">Dirección<span class="tx-danger">*</span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id='id-direccion' name='direccion'>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="id-telefono" class="col-sm-3 col-form-label">Telefono<span class="tx-danger">*</span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id='id-telefono' name='telefono'>
                </div>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label for="id-correo-cliente" class="col-sm-3 col-form-label">Correo Electronico<span class="tx-danger">*</span></label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id='id-correo-cliente' name='correo-cliente' required>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-regular fa-circle-xmark"></i> Cerrar</button>
        <button class="btn btn-primary" id="btn_enviando_correo" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Enviando...
        </button>
        <button type="button" class="btn btn-primary" id="btn_enviar_correo"><i class="fa-solid fa-envelope"></i> Enviar Cotización</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAgregarCamara" tabindex="-1" aria-labelledby="modalAgregarCamaraLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAgregarCamaraLabel">Agregar Camara de Frio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="formEnviarGuardarCamara" enctype="multipart/form-data" data-parsley-validate >
          {% csrf_token%}
          <div class="form-group row">
            <label for="id-nombre-camara" class="col-sm-3 col-form-label">Nombre<span class="tx-danger">*</span></label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id='id-nombre-camara' name='nombre-camara' required>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label for="id-metro-cuadrado" class="col-sm-3 col-form-label">Metro cuadrado<span class="tx-danger">*</span></label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id='id-metro-cuadrado' name='metro-cuadrado' required>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label for="id-metro-cubico" class="col-sm-3 col-form-label">Metro cubico<span class="tx-danger">*</span></label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id='id-metro-cubico' name='metro-cubico' required>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label for="id-valor" class="col-sm-3 col-form-label">Valor Neto<span class="tx-danger">*</span></label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id='id-valor' name='valor' required>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label for="imagen_guia" class="col-sm-3 col-form-label">Guía<span class="tx-danger">*</span></label>
            <div class="col-sm-9">
              <input class="form-control form-control-md" id="imagen_guia" name="imagen_guia" type="file" required>
            </div>
          </div>
          <br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-regular fa-circle-xmark"></i> Cerrar</button>
        <button class="btn btn-primary" id="btn_guardando_camara" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Cargando...
        </button>
        <button type="button" class="btn btn-primary" id="btn_guardar_camara" onclick="guardaCamaraDeFrio()"><i class="fa-solid fa-floppy-disk"></i> Guardar Camara</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block partial_js_script %}
<script>
$("#btn_guardando_camara").hide()
$("#btn_enviando_correo").hide()

function mostrarFormularioCliente(){
    var checkBox = document.getElementById("id-check-datos-cliente");
    // If the checkbox is checked, display the output text
    if (checkBox.checked == true){
        $("#id-container-formulario-cliente").attr('hidden', false)
        $("#id-nombre").attr('required', true)
        $("#id-rut").attr('required', true)
        $("#id-direccion").attr('required', true)
        $("#id-telefono").attr('required', true)
        $("#id-giro").attr('required', true)
        $("#id-comuna").attr('required', true)
        $("#id-region").attr('required', true)
    } else {
        $("#id-container-formulario-cliente").attr('hidden', true)
        $("#id-nombre").attr('required', false)
        $("#id-rut").attr('required', false)
        $("#id-direccion").attr('required', false)
        $("#id-telefono").attr('required', false)
        $("#id-giro").attr('required', false)
        $("#id-comuna").attr('required', false)
        $("#id-region").attr('required', false)
    }
}

function separadorMiles(numero){
  return numero.toLocaleString('en-US')
}


  function abrirModalEnviarCorreo(value) {
    $("#numero-camara").val(value.id)
  }

  function abrirModalAgregarCamara(){
    $('#modalAgregarCamara').modal('show');
  }


$('#btn_enviar_correo').click(function () {
  const formulario = $('#formEnviarCorreoCliente')
  if (formulario.parsley().validate()) {
    $("#btn_enviar_correo").hide()
    $("#btn_enviando_correo").show()
    $.post(formulario.attr('action'), formulario.serialize(), function (response) {
      $("#btn_enviar_correo").show()
      $("#btn_enviando_correo").hide()
      $('#modalEnviarCorreo').modal('hide');
      if(!response.respuesta == 0 && response.enviado == true){
        notify = new PNotify({
            title: 'Acción exitosa',
            text: 'Correo enviado correctamente',
            type: 'success',
            styling: 'bootstrap3',
            delay: 3000
        });
      }else{
        notify = new PNotify({
            title: 'Acción no se ha ejecutado',
            text: 'No se ha podido realizar la acción',
            type: 'error',
            styling: 'bootstrap3',
            delay: 3000
        });
      }
    })
  }
});

function guardaCamaraDeFrio(){
  const formulario = $('#formEnviarGuardarCamara'); 
  if (formulario.parsley().validate()) {
    $("#btn_guardar_camara").hide()
    $("#btn_guardando_camara").show()
    let formData = new FormData();
    formData.append('csrfmiddlewaretoken', formulario.find('input[name = csrfmiddlewaretoken]').val());
    formData.append('nombre', formulario.find('input[name = nombre-camara]').val());
    formData.append('m2', formulario.find('input[name = metro-cuadrado]').val());
    formData.append('m3', formulario.find('input[name = metro-cubico]').val());
    formData.append('neto', formulario.find('input[name = valor]').val());
    formData.append('guia', formulario.find('input[name = imagen_guia]')[0].files[0]);

    $.ajax({
    url: "{% url 'guardar-camara-frio' %}",
    type: 'POST',
    data: formData,
    dataType: "json",
    success: function (data) {
      setTimeout(function(){
        $("#btn_guardar_camara").show()
        $("#btn_guardando_camara").hide()
        $('#modalAgregarCamara').modal('hide');
        document.getElementById("formEnviarGuardarCamara").reset();
        if (data.respuesta==true) {
            formulario.parsley().reset()
            notify = new PNotify({
                title: 'Acción Exitosa!',
                text: 'Se ha guardado la camara correctamente',
                type: 'success',
                styling: 'bootstrap3',
                delay: 3000
            });    
        }else{
          notify = new PNotify({
              title: 'Error!',
              text: 'ha ocurrido un error!',
              type: 'error',
              styling: 'bootstrap3',
              delay: 3000
          });  
        }
        // location.reload()
      }, 2000)
    },
    // Tell jQuery not to process data or worry about content-type
    // You must include these options!
    cache: false,
    contentType: false,
    processData: false,
})
}
}

// $('#btn_guardar_camara').click(function () {
//   const formulario = $('#formEnviarGuardarCamara')
//   if (formulario.parsley().validate()) {
//     $("#btn_guardar_camara").hide()
//     $("#btn_guardando_camara").show()
//     const divDataGrid = $(this).attr('data-id-grid')
//     $.post(formulario.attr('action'), formulario.serialize(), function (response) {
//       if (response.accionEjecutada) {
//             notify = new PNotify({
//                 title: 'Acción exitosa',
//                 text: 'Correo enviado correctamente!',
//                 type: 'success',
//                 styling: 'bootstrap3',
//                 delay: 3000
//             });
//         }
//         else {
//             notify = new PNotify({
//                 title: 'Acción no ejecutada',
//                 text: 'No se ha podido realizar la acción',
//                 type: 'error',
//                 styling: 'bootstrap3',
//                 delay: 3000
//             });
//         }
//         // setTimeout(function(){location.reload();}, 3000);
//     })
//   }
// });

function buscarComunas(value) {
  var csrftoken = $("[name=csrfmiddlewaretoken]").val();
  var _region = value.value
  if(_region>0){
    $.ajax({
      url: "{% url 'json-listar-comunas' 0 %}".replace('/0', '/'+_region),
      type: "POST",
      headers: { "X-CSRFToken": csrftoken },
      success: function (data) {
        if (data.respuesta) {
          $('#id-comuna').prop('disabled', false);
          $('#id-comuna').html('').select({
              data: {
                  id: null,
                  text: null
              }
          });
          jQuery.each(data.data, function (index, value) {
            $('#id-comuna').append($('<option>', { value: value.id, text: value.nombre }));
          });
        }
      },
      error: function(data){
        console.log('ha ocurrido un error!')
      }
  })
  }else{
    $('#id-comuna').prop('disabled', true);
    $('#id-comuna').append('<option value="-1" hidden selected>Seleccione</option>');
  }
}
</script>
{% endblock %}